# Ignore build and cache directories
/*build*/
/*cache*/

# Ignore output files and logs
*_Output
*.vtk
*.exe
*~
*.log
*.DS_STORE
CMakeFiles
Makefile
doxygen_doc
compile_commands.json
.clangd
*.srctrlbm
*.srctrldb
*.srctrlprj
.idea
cmake-build-*
*.sw*
*.vscode/
venv/